
<div class="text-center">
    <br />
    <h1 class="text-danger">
        <i class="bi bi-emoji-dizzy-fill"></i>
    </h1>
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
